body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif; 
  }
  
  .utensilios {
    width: 10%;
    float: left;
    margin: 0 2% 2% 0;
  }
  
  header {
    background-color: #000000;
    padding: 2% 0;
  }
  
  .dropdown-menu {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .dropdown-menu li {
    list-style: none;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 1%;
    text-decoration: none;
    color: #A0DDC8;
  }
  
  .dropdown-menu a:hover {
    background-color: #000000;
  }
  
  .submenu {
    display: none;
  }
  
  .dropdown-menu li:hover .submenu {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
  }
  
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
  
    &.animation-reveal {
      animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
  
    @keyframes reveal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  
  .card {
    margin: 0 1em;
    overflow: hidden;
    box-shadow: 0 1.6em 3.2em 0 rgba(0, 0, 35, 0.25);
    border-radius: 8%;
    height: 20em;
    width: 20em;
    display: block;
    position: relative;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    transition: width 0.16s ease-in-out, height 0.16s ease-in-out;
  }
  
  .card.is-custom-selected {
    width: 25em;
    height: 25em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-bg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  
  .flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus {
    outline: none;
  }
  
  .flickity-viewport {
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .caja {
    width: 75%;
    position: relative;
    margin: 0 auto;
  }
  
  nav {
    position: absolute;
    top: 20%;
    right: 6%;
  }
  
  nav li {
    display: inline;
    margin: 0 0 0 1.5%;
  }
  
  nav a {
    text-transform: uppercase;
    color: #A0DDC8;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #F4DF90;
    text-decoration: underline;
  }
  
  .productos {
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    margin-bottom: 2%;
  }
  
  .referencia {
    max-width: 18em;
    border-radius: 10%;
    padding: 0.5em;
  }
  
  .productos li {
    display: inline-block;
    text-align: center;
    width: 28%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 3% 2%;
    box-sizing: border-box;
    border: 0.2em solid #000000;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  
  .productos li:hover {
    border-color: #F4DF90;
  }
  
  .productos h2 {
    font-size: 3em;
    font-weight: bold;
  }
  
  .productos li:hover h2 {
    font-size: 3.3em;
  }
  
  .producto-descripcion {
    font-size: 2em;
  }
  
  .producto-precio {
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 1em;
  }
  
  .formulario {
    text-align: center;
    margin: 2em 0;
  }
  
  footer {
    text-align: center;
    background: #000000;
    color: #F4DF90;
    padding: 4em;
  }
  
  .copyright {
    color: #FFFFFF;
    font-size: 1.3em;
    margin: 2em;
  }
  
  form {
    margin: 4em 0;
  }
  
  form label,
  form p {
    display: block;
    font-size: 2em;
    margin: 0 0 1em;
  }
  
  table {
    margin: 4em 4em;
  }
  
  thead {
    background: #555555;
    color: white;
    font-weight: bold;
  }
  
  td,
  th {
    border: 0.2em solid #000000;
    padding: 0.8em 1.5em;
  }
  
  .mapa {
    padding: 0.6em 0;
  }
  
  .mapa p {
    margin: 0 0 0.4em;
    text-align: center;
  }
  
  .items {
    line-height: 1.5;
  }
  
  .items:first-child {
    font-weight: bold;
  }
  
  .mapa-contenido {
    width: 90%;
    margin: 0 auto;
  }
  
  .titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: #000000;
  }
  
  .titulo-2 {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: #000000;
  }
  
  .botones {
    text-align: center;
    margin-top: 3em;
  }
  
  .botones a {
    color: #000000;
    font-size: 5em;
    display: inline-block;
    margin: 0 4%;
    margin-bottom: 1em;
  }
  
  #btn-top {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 2em;
    font-size: 1em;
    background-color: #000;
    color: #A0DDC8;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em;
    border-radius: 5px;
  }
  
  #btn-top:hover {
    background-color: #A0DDC8;
    color: #000;
  }
  